.lokasi-child {
    position: absolute;
    top: -2px;
    left: 0;
    background-color: var(--color-maroon);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 397px;
    height: 66px;
  }
  .lokasi-item {
    position: absolute;
    top: 9px;
    left: 323px;
    width: 45px;
    height: 46px;
    object-fit: cover;
    cursor: pointer;
  }
  .lokasi12 {
    position: absolute;
    top: 79px;
    left: 173px;
    display: inline-block;
    width: 51px;
    height: 21px;
  }
  .lokasi-inner {
    position: absolute;
    top: 115px;
    left: 9px;
    border-radius: var(--br-3xs);
    background-color: var(--color-gainsboro-200);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid var(--color-dimgray);
    box-sizing: border-box;
    width: 379px;
    height: 360px;
  }
  .jl-pelita-empoang {
    position: absolute;
    top: 383px;
    left: 20px;
    text-align: center;
    display: inline-block;
    width: 358px;
  }
  .jl-pelita-empoang a{
    text-decoration: none;
    color: inherit ;
  }
  .basemap-image-icon {
    position: absolute;
    top: 136px;
    left: 41px;
    width: 316px;
    height: 211px;
    object-fit: cover;
  }
  .vector-icon26 {
    position: absolute;
    height: 2.37%;
    width: 6.55%;
    top: 2.15%;
    right: 88.41%;
    bottom: 95.48%;
    left: 5.04%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
  }
  .lokasi11 {
    position: relative;
    background-color: var(--color-oldlace);
    width: 100%;
    height: 932px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-acme);
  }
  